// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1, h2 {
    font-family: Futura, Helvitica, Arial, sans-serif;
    text-align: center;
    color: black;
}

body {
    padding-top: 75px;
}

footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}